p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  color: antiquewhite;
}

body{
    background-image: url(home.png);
    width: 100%;
    background-color: lightgrey;
    background-repeat: no-repeat;
}