#demo {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  color: antiquewhite;
}

body{
    background-image: url(Ramadanpage.jpg);
    width: 100%;
    font-size: medium;
    background-attachment: fixed;
    background-size: 100% 100%;
    /* background-color: lightgrey; */
    background-repeat: no-repeat; 
}

p{
    text-align: center;
    font:30px;
}